<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!-- Navbar Header starts ================================================== -->
  <qs-navbar></qs-navbar>

  <!-- Main Section starts ================================================== -->
  <main class="main-content">
    <div class="main-workspace">
      <router-outlet></router-outlet>
    </div>

    <!-- Pre-Footer starts ================================================== -->
    <div class="section--pre-footer">
      <div class="section__block">
        Prefooter
      </div>
    </div>
  </main>

  <!-- footer starts ================================================== -->
  <footer class="footer mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">
        <p> © Copyright 2016</p>
      </div>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="" target="_blank">Home</a></li>
        <li><a href="" target="_blank">Support</a></li>
        <li><a href="" target="_blank">Blog</a></li>
        <li><a href="" target="_blank">Contact</a></li>
        <li><a href="" target="_blank">Privacy</a></li>
        <li><a href="" target="_blank">Terms of Use</a></li>
      </ul>
    </div>
  </footer>
</div>
