@import "_variables.scss";

.homer-breadcrumbs {
    .homer-project-titlebar {
        margin-left: 20px;
        margin-top: 5px;
        font-size: 15px;
        font-weight: 400;
    }
    .completed_step {
        font-style:italic; 
        cursor: pointer;
    }
    .current_step {
        font-size: 14px;
        font-weight: 700;
        color: #ff0000;
    }
    .mdl-layout__header-row {
        padding: 0px 10px;
    }
    .mdl-navigation__link {
        color: #000;
    }
    padding: 58px 0px 0px 0px;
    background: rgb(247,247,247);
    width: 100%;
    position:fixed;
    left:0;
    top:0;
    z-index: 3;
    
}

