@import '_variables';

.mdl-navigation {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    
}

.mdl-navigation__link {
    font-weight: 500;
    font-size: 13px;
    margin: 0
}
.mdl-layout,
.mdl_layout__container {
    height: auto;
    position: static;
    width: auto
}

.mdl-layout__header {
    background-color: $background-color;
    position: fixed;
    z-index: 5;
}
.mdl-layout__header,
.mdl-layout__header .mdl-layout__header-row {
    height: 56px;
    min-height: 56px
}
@media only screen and (min-width: $min-width+1px) {
    .mdl-layout__header .mdl-layout__header-row {
        padding: 0 100px 0 40px
    }
}
.mdl-layout__header .mdl-layout__header-row .mdl-navigation {
    height: 56px
}
@media only screen and (max-width: $min-width) {
    .mdl-layout__header .mdl-layout__header-row {
        padding: 0 40px 0 20px
    }
    .mdl-layout__header .mdl-layout__header-row .mdl-navigation {
        padding: 0 0px 0 0px
    }
}

@media only screen and (max-width: $min-width) {
    .mdl-layout__drawer .mdl-layout__drawer-button--close,
    .mdl-layout__header .mdl-layout__drawer-button {
        margin: 0
    }
}
.mdl-layout__drawer {
    background-color: #00a4b5;
    opacity: .9;
    position: fixed;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%
}
.mdl-layout__drawer .mdl-navigation {
    margin-bottom: 50px;
    margin-top: 50px
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    text-align: center
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #fff;
    color: #008394;
    text-decoration: none
}
