@import '_variables';

.homer__help {
    background-color: $main-workspace;
}
.main-workspace .section--hero {
    background: url(../../images/gunkanjima.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    min-height: 650px;
    padding: 0;
    width: 100%
}

@media only screen and (max-width: $min-width) {
    .main-workspace .section--hero .mdl-grid .section__block {
        width: 100%
    }
    .main-workspace .section--hero .mdl-grid .section__block.section__block--left {
        padding: 20px
    }
}
@media only screen and (min-width: $min-width + 1px) {
    .main-workspace .section--hero .mdl-grid .section__block.section__block--left {
        padding: 70px;
        width: 60%
    }
}

.main-workspace .section--hero .mdl-grid .section__block.section__block--right {
    background-color: $main-workspace;
    padding: 50px;
    width: 40%
}

.main-workspace .hero__title {
    font-family: $font-header;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 30px
}
@media only screen and (max-width: $min-width) {
    .main-workspace .hero__title {
        font-size: 60px;
        line-height: 60px
    }
}

.homer__banner {
    text-align: center;
    margin: 0 auto;
    background: $homer-banner;
    border-radius: 10px;
    margin-bottom: 32px;
    margin-top: 70px;
    min-height: 250px;
    width: 450px;
    .mdl-selectfield > select {
        z-index: 1;
    }
    .mdl-selectfield__label {
        font-size: 18px;
        color: black;
        z-index: 1;
    }
    .mdl-selectfield__box > i {
        color: black;
    }
    .mdl-card__supporting-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        min-height: 50px;
    }
    .mdl-card__title {
        margin: 0 auto;
    }
    .mdl-card__title > .mdl-card__title-text {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }
    .homer__banner__select {
        color: #000000;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }
    .homer__banner__or {
        padding-top: 40px;
        color: #000000;
        text-align: center;
        font-weight: 500;
    }

}


@media only screen and (max-width: $min-width) {
    .homer__banner {
        width: 100%
    }
}
@media only screen and (min-width: $min-width + 1px) {
    .homer__banner {
        width: 48%
    }
}


// This makes the cards 2 per row
// You must add this class to any block you want to wrap in section
.section__block {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.content__item {
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 32px;
    margin-top: 0;
    z-index: 2;
}

@media only screen and (max-width: 840px) {
    .content__item {
        width: 100%
    }
    .content__item:last-of-type {
        margin-bottom: 0
    }
}
@media only screen and (min-width: 841px) {
    .content__item {
        width: 48%
    }
    .content__item:nth-child(odd) {
        margin-right: 4%
    }
}

.content__item > .mdl-card__title {
  z-index: 0;
  min-height: 50px;
  background: $light-gray;
}

.content__item > .mdl-card__supporting-text {
    color: $background-color;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    min-height: 50px;
}

.content__item > .mdl-card__title > .mdl-card__title-text {
  font-size: 20px;
  font-weight: 700;
}

@media only screen and (max-width: 840px) {
    .section__block {
        padding: 0 8px
    }
    .mdl-cell--3-col {
        width: calc(100% - 16px)
    }
}
